:root {
  --dark: #14142B;
  --dark-light: #4E4B66;
  --gray: #6E7191;
  --gray-medium: #A0A3BD;
  --gray-light: #EFF0F6;
  --smoke: #E2E2E2;
  --smoke-light: #EFEFEF;
  --white: #FCFCFC;
  --primary: #FFCE00;
  --primary-dark: #E6B800;
  --primary-light: #FAE27B;
  --danger: #EB0046;
  --danger-dark: #A20F1D;
  --danger-light: #F8D7DA;
  --info: #0d6efd;
  --info-dark: #041E49;
  --info-light: #C2E7FF;
  --warning: #FF9033;
  --warning-dark: #81124B;
  --warning-light: #FFD89C;
  --success: #36AE7C;
  --success-dark: #094B28;
  --success-light: #C1F8CF;
}

/* ESTILOS GENERALES */

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* End Reset */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  font-weight: 400;
}

main {
  /* background-color: yellow; */
  min-height: 100vh;
  margin-top: 60px;
}

hr {
  background-color: var(--dark);
}

/*OCULTAR CONTROLES INCREMENTO */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* FIN OCULTAR CONTROLES INCREMENTO */

.show {
  display: block;
}

.hide {
  display: none;
}
/* Typography */

.heading-1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.heading-4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.body-bold {
  font-size: 1rem;
  font-weight: 700;
}

.body-semibold {
  font-size: 1rem;
  font-weight: 600;
}

.body-medium {
  font-size: 1rem;
  font-weight: 500;
}

.small-bold {
  font-size: .75rem;
  font-weight: 700;
}

.small-semibold {
  font-size: .75rem;
  font-weight: 600;
}

.small-regular {
  font-size: .75rem;
  font-weight: 400;
}

/* End Typograpky */

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: .25rem;
}

.button-block {
  display: block;
  width: 100%;
}

.button-primary {
  background-color: var(--primary);
  color: var(--dark);
}

.button-primary:hover {
  background-color: var(--primary-dark);
  color: var(--dark);
  border-color: var(--primary-dark);
}

.button-primary:focus, .button-primary:active {
  background-color: var(--primary);
  color: var(--dark);
  border-color: 1px solid var(--primary-dark);
  box-shadow: 0 0 0 0.25rem var(--primary-light);
}

.button-outline {
  background-color: transparent;
  color: var(--dark);
  border-color: 1px solid var(--dark);
}

.button-outline:hover {
  background-color: var(--gray-light);
  color: var(--dark);
  border-color: 1px solid var(--dark);
}

.button-outline:focus, .button-outline:active {
  background-color: var(--gray-light);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem var(--gray-medium);
}

.button-ghost {
  background-color: transparent;
  color: var(--dark);
}

.button-ghost:hover {
  background-color: var(--gray-light);
  color: var(--dark);
}

.button-ghost:focus, .button-ghost:active {
  background-color: var(--gray-light);
  color: var(--dark);
  box-shadow: 0 0 0 0.25rem var(--gray-medium);
}

.button-link {
  background-color: transparent;
  color: var(--info);
  padding: 0;
}

.button-link:hover {
  background-color: transparent;
  color: var(--info);
  text-decoration: underline;
}

.button-link:focus, .button-link:active {
  background-color: transparent;
  color: var(--info-dark);
  box-shadow: none;
}
/* End Buttons */

/* Navbar */
.navbar-main {
  background-color: var(--white);
  padding: 0 2rem;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-main .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-main__left {
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-main__brand {
  /* background-color: yellow; */
  display: inline-block;
  height: 1.5rem;
  margin-right: .5rem;
}

.navbar-main__brand img {
  height: 100%;
  margin-bottom: .25rem;
}

.dropdown-toggle::after {
    content: none;
}

.navbar-main__right {
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-main__user-img {
  display: block;
  width: 1.5rem;
}

.dropdown-item-content {
  display: flex;
  align-items: center;
  gap: .5rem;
}
/* End Navbar */

/* Off canvas */
.offcanvas-body {
  background-color: pink;
  height: calc(100vh - 62px);
  overflow-y: auto;
}
/* End off canvas */

/* Modals */
.modal-content {
  border-radius: .5rem;
}

.modal-header {
  /* background-color: pink; */
  padding: 1.5rem;
  border-bottom: 0;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.modal-body, .modal-footer {
  padding: 0  1.5rem 1.5rem 1.5rem;
}

.modal-footer {
  display: flex;
  gap: .5rem;
  border-top: 0;
}
/* End modals */

/* FOOTER */
.footer {
  background-color: var(--dark);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--white);
}

.footer__top, .footer__bottom {
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__top img {
  height: 2rem;
}

.footer__bottom p {
  margin-bottom: 0;
}

.footer__body {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-list {
  /* background-color: tomato; */
  list-style: none;
  width: 20rem;
  text-align: center;
}

.footer-list__item--title {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary);
}

.footer-list__item {
  margin-bottom: 1rem;
}
/* END FOOTER */

/* CARDS */
.card {
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: .5rem;
  border: 1px solid var(--gray-light);
}
/* EN CARDS */

/* END ESTILOS GENERALES */

/* LOGIN */
.container-form-login-registro {
  /* background-color: pink; */
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login, .form-registro {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 25rem;
}

.form-login__header, .form-registro__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login-title, .form-registro-title {
  margin-bottom: 1.5rem;
}

.form-login__logo {
  display: block;
  height: 2rem;
}

.form-login__msg, .form-registro__msg {
  font-size: 1.5rem;
}

.field-icon {
  background-color: var(--white);
  cursor: pointer;
  float: right;
  margin-left: -25px;
  margin-top: -26px;
  margin-right: 11.250px;
  position: relative;
  z-index: 2;
  color: var(--dark);
}

.text-help {
  color: var(--danger);
  display: none;
}

.form-group {
  margin-bottom: 1rem;
}

.login-footer {
  padding-top: 1rem;
}

.login-footer__top {
  /* background-color: lavender; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.login-footer__bottom {
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-footer-bottom p {
  margin-bottom: 0;
}
/* END LOGIN */
/* registro */
#fs-registro-validar-correo, #fs-registro-cuenta, #div-2 {
  display: none;
}

.fs-registro p {
  text-align: center;
}

.fs-registro p span {
  font-weight: 600;
}

.fs-registro-btns {
  /* background-color: lavender; */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.registro-footer {
  text-align: center;
}
/* END registro */

/* CONTACTO PAGE */
.header-contacto {
  text-align: center;
  padding: 2rem 0;
}

.header-contacto h1 {
  font-size: 2rem;
}

.header-contacto img {
  height: 2rem;
}

.card-contacto {
  margin-bottom: 2rem;
}

.list-contacto {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-contacto__item p {
  margin-bottom: 0;
}

.list-contacto__item {
  display: flex;
  align-items: center;
  gap:.5rem;
  margin-bottom: 1rem;
}

.list-contacto__item:last-child {
  margin-bottom: 0;
}

.form-contacto__footer {
  display: flex;
  justify-content: flex-end;
}
/* END CONTACTO PAGE */
