/* Large devices (laptops, less than 1400px) */
@media (max-width: 1400px) {
  main {
    /* background-color: pink; */
  }
}

/* Large devices (desktops, tablets landscape, less than 1200px) */
@media (max-width: 1199.98px) {
  main {
    /* background-color: lavender; */
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  main {
    /* background-color: salmon; */
  }

  /* navbar */
  
  .navbar-main {
    padding: 0 ;
  }
  
  #btn-menu-mobile {
  display: flex;
  }

  .btn-categorias-desktop, .btn-contacto-desktop {
    display: none;
  }


  /* End navbar */

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  main {
    /* background-color: lightblue; */
  }


}


/* portrait phones */
@media (max-width: 575.98px) {
  main {
    /* background-color: lightyellow; */
  }

  /* Off canvas */
  .offcanvas {
    /* background-color: aquamarine; */
    max-width: 80%;
  }

  .offcanvas-header__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    /* background-color: crimson; */
  }

  .offcanvas-header__bottom .btn {
    width: 100%;
  }
  /* End off canvas */

  /* LOGIN */

  .form-login, .form-registro {
    /* background-color: lavender; */
    width: 100%;
  }

  .form-login__logo, .form-registro__logo {
    display: block;
    height: 2rem;
  }

  /* END LOGIN */
}
